#inp1{
    width: 50%;
    height: 5vh;
    margin-top: 10px;
}
#inp2{
    width: 50%;
    height: 5vh;
    margin-top: 2%;
}
.main{
    margin-left: 30rem;
    margin-top: 100px;
}
button{
    padding: 10px;
    margin-left: 20%;
    margin-top: 10px;
}
.fas{
    color: blue;
    
}
